.bw-1 {
  border-width: 1px !important;
}

.bw-2 {
  border-width: 2px !important;
}

.bw-3 {
  border-width: 3px !important;
}

.bw-4 {
  border-width: 4px !important;
}

.bw-5 {
  border-width: 5px !important;
}

.border-lightgray {
  border-color: rgb(185, 185, 185);
}
